header {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  background-color: rgba(199, 199, 199, 0.7);

  img {
    width: 100%;
  }

  .logo-container {
    width: 3.5em;
    margin-top: 1.5vh;
  }

  .links-container, .user-container {
    margin-top: 4vh;
    a {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }
  .search-box {
    margin-top: 3.5vh;
    input{
      border: 2px solid gray;
      height: 5vh;
      width: 15vw;
      padding-left: 0.5vw;
      font-size: 1rem;
    }

    button {
      margin-left: 1vw;
      border: 2px solid gray;
      font-size: 1rem;
      height: 5vh;
      width: 5vw;
      color: black;
      background-color: #ffc864;
    }
  }

}
