header {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  background-color: rgba(199, 199, 199, 0.7);

  img {
    width: 100%;
  }

  .logo-container {
    width: 3.5em;
    margin-top: 1.5vh;
  }

  .links-container, .user-container {
    margin-top: 4vh;
    a {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }
}
